*{
  margin: 0px;
}
.container-fluid{
  border-bottom: 0.2px solid grey;
}
.post{
  display: flex;
  align-items: center;
  justify-content: center;
  margin : 8px auto;
}
.logo{
  object-fit: contain;
  margin: 5px;
  width: 50px;
}
.postcard{
  width: 40%;
  border: 0.2px solid pink;
  padding: 0.5px;
  border-radius: 2px;
}
.post__header{
  display: flex;
  padding: 3px;
  align-items: center;
}
.username{
  margin-left: 4px;
}
.postimage{
  width: 100%;
  object-fit: contain;
  margin-top : 2px;
  border: 0.2px;
}
.caption{
  margin-top: 2px;
  display: flex;
  padding: 5px;
}
.modalform{
  display: flex;
  flex-direction: column;
}
input{
  margin: 2px;
}
.formlogo{
  margin-bottom: 5px;
}
.formbut{
  background-color: blue;
  color: white;
}