*{
  margin: 0px;
}
.container-width{
  border-bottom: 0.2px solid pink;
  width: 100%;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}
.container{
  display: flex;
}
.app__loginContainer >button{
margin-left: 2px;
}
.loglog{
  position: absolute;
  right: 10%;
  margin-top: 18px;
}
.post{
  display: flex;
  align-items: center;
  justify-content: center;
  margin : 8px auto;
}
.logo{
  object-fit: contain;
  margin: 5px;
  width: 50px;
}
.modalform{
  display: flex;
  flex-direction: column;
}
input{
  margin: 2px;
}
.formlogo{
  margin-bottom: 5px;
}
.formbut{
  background-color: blue;
  color: white;
}
